.container{
    display:grid;
    margin:auto;
    max-width: 960px;
    grid-template-columns: repeat(3,1fr);
  
    gap:10px;
    grid-template-rows: repeat(3,minmax(300px,auto));
    background-color: black;
}

.container div{
    background-color: cadetblue;
    padding: 50px;
}

.container div:nth-child(even){
    background-color: chocolate;
}

.subgrid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-column:1/4;
     */
     gap:5px;
     grid-column: span 2;
}

.subgrid p{
    background-color: aliceblue;
    padding:10px;

}

.one{
 align-self: end;
    justify-self: end;
}

.five{
    align-self: center;
    /* justify-self: center; */
}